.ui-card {
  background: var(--shade-14);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(18, 123, 202, 0.08);
  padding: 2em;
  margin: 1em 0;
  height: 210px;
  width: 600px;
  font-family: 'Roboto';
  border: 1px solid var(--shade-1);
} 